/** Main CSS file for the default template **/

@import url('html5cssReset.css');

body{
   margin   : 0 auto;
   padding  : 0;
}

body > * {
   border         : 1px solid #696969;
   border-width   : 0 1px;
   width          : 800px;
   margin         : 0 auto;
   padding        : 10px;
}

#header{
   position    : relative;
   background  : #3B66C7;
   border-bottom  : 1px solid #696969;
   width       : auto;
   min-width   : 800px;
   margin      : 0 auto;
}
#header h1{
   float       : left;
   margin      : 0;
   padding     : 10px;
   font-family : courier;
   font-size   : 22pt;
   font-weight : bold;
   color       : #fff;
}
#header #login{
   position : absolute;
   top      : 10px;
   right    : 5px;
}

#menu{
   position : absolute;
   bottom   : 0;
   right    : -1px;
}
#menu ul li{
   float       : right;
}
#menu ul li a{
   display           : block;
   background        : #eaeaea;
   padding           : 7px 12px 4px 12px;
   border-bottom     : 3px solid #eaeaea;
   text-decoration   : none;
   color             : #000;
}
#menu ul li:last-child a{
   border-radius  : 10px 0 0 0;
}
#menu ul li a:hover{
   border-bottom-color  : blue;
   background           : #fff;
}

#footer{
   border-bottom-width     : 1px;
   border-radius           : 0 0 10px 10px;
   -moz-border-radius      : 0 0 10px 10px;
   -webkit-border-radius   : 0 0 10px 10px;
}

.clearBoth{
   clear : both;
}
